@use '../../../styles/mixins' as *;

.unit-edit {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;

  select,
  input {
    @include dark-control;
    padding: 0.5rem 0.6rem;
    font-size: 0.9rem;
  }

  input[type='number'] {
    width: 5rem;
  }
}
