<div class="nav-dropdown">
  <a
    class="nav-dropdown-toggle"
    [routerLink]="toggleLink()"
    [queryParams]="toggleQueryParams() ?? null"
    routerLinkActive="active">{{ label() }}</a>
  <div class="nav-dropdown-menu">
    <div class="nav-dropdown-panel">
      @for (option of options(); track option.label) {
        <a
          class="nav-dropdown-item"
          [routerLink]="option.routerLink"
          [queryParams]="option.queryParams ?? null"
          [routerLinkActive]="highlightItems() ? 'active' : ''">{{ option.label }}</a>
      }
    </div>
  </div>
</div>
